* {
  margin: 0;
  padding: 0;
}

.dark_block {
  background: rgba(0,0,0,0.5);
}

.block-1 {
  width: 100%;
  height: 262px;
  background-size: cover;
}
.content {
  position: relative;
  margin: 0 auto;
}

.text-block{
  width: auto;
  text-align: center;
  margin: 0 auto;
  color: #fa7d07f3;
}

.intro-text-1{
  padding-top: 90px;
  padding-bottom: 14px;
  font-size: 1.1em;
  align-items: center;
}

.intro-line{
  padding-bottom: 13px;
}

.line{
  border: none;
  background-color: red;
  height: 2px;
  width: 200px;
  margin: 0 auto;
}

.text{
  padding-bottom: 10px;
  width: 100%;
  flex: 1 0 auto;
}

.div-image {
  width: 330px;
  height: 220px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.div-text {
  margin: 20px auto;
  width: auto;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.image {
  width: 100%;
  height: 100%;
  border: 4px solid #fa7d07f3;
}

.left-image {
  float: left;
  margin-left: 20px;
  margin-top: 2px;
  align-items: center;

}

.right-image {
  float: right;
  margin-right: 20px;
  margin-top: 2px;
  align-items: center;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
}

.obvodka {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;
}

.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 20px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-green {
  background: #8aba56;
  color: #fff;
}

.button-green:hover {
  background: #6a9a36;
  transition: all ease .3s;
}
